<html>
<head></head>
<body>
    <p>Dear ${name},</p>
    <p>We are pleased to inform that your booking to ${attractionName} is confirmed as follows:</p>
    <p>Date of Visit : ${loanDate} (1 day only) </p>
    <p>Membership ID : ${corpPassNumber}</p>
    <br>
    <p>For any change in visit date, you are required to cancel your booking (at least 1 day before)
    and to submit a new booking in the system.</p>
    <p>Attached is the Corporate Membership letter to ${attractionName}. Please check that the
    details are accurate.</p>
    <p>Please take note of the following on the day of your visit to ${attractionName}:</p>
    <ul>
    <li>Present this email, the attached corporate membership letter and your staff pass at
    the entrance of ${attractionName}.</li>
    <li>Entry is strictly based on your details in this email and corporate membership letter.</li>
    <li>Your presence is required on the day of visit. Entry will be denied without staff’s
    presence.</li>
    <li>Your booking is non-transferable. Entry is strictly based on the details in this email
    and Corporate Membership letter.</li>
    <li>Visit date is strictly based on the date stated in this email and Corporate Membership
    letter.</li>
    <li>Staff found abusing the Corporate Membership letter will be subject to disciplinary
    actions.</li>
    </ul>
    <p>Enjoy your visit to ${attractionName}!</p>
    <br>
    <p>Warm regards</p>
    <p>HR Department</p>

</body>
</html>