<!-- Tasks (Do it in a style tag)-->
<!-- Changes to the Heading 1 element at the top of the page -->
<!-- Add padding to 60px -->
<!-- Change the background color to green -->
<!-- Change the text color to white -->
<!-- Changes in the first paragraph -->
<!-- Change the <strong> text to blue (that's the bold text) -->
<!-- Change the italic text to red. -->
<!-- Changes to the image -->
<!-- Change the width of the image to be full-width -->
<!-- Change the image have an ellipsis shape -->
<!-- Changes to the subheadline and link -->
<!-- Change the color Heading 3 to red -->
<!-- Change the color of the link to green -->
<!-- Add underline to the link -->

<html>
	<body>
		<h1 style="padding:60px; background:green; color:white">This is the main heading that is wrapped in "h1" tags.</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada
			vehicula dictum. Integer tristique sapien nec lectus lobortis placerat.
			<strong style="color:blue"> MAKE THIS TEXT BLUE.</strong>
			Vestibulum molestie semper facilisis. Vestibulum finibus sit amet metus
			eget elementum. Morbi sed eros orci.
			<em style="color:red">MAKE THIS TEXT RED.</em>
			Nullam lacinia interdum felis sit amet aliquet.
		</p>
		<img
			src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F158c46de-cae2-11e9-af46-b09e8bfe60c0?source=amp&fit=scale-down&width=2048"
			alt=""
			style="width:100%; border-radius: 50%"
		/>
		<h3  style="color:red">This is the subheadline that is wrapped in "h3" tags.</h3>
		<p>
			<a href="https://www.google.com" style="color:green; text-decoration-line: overline;">I'm a link to google</a>
		</p>
	</body>
</html>
